<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         failOnWarning="false"
         failOnRisky="false"
         convertNoticesToExceptions="false"
         convertDeprecationsToExceptions="false"
         convertWarningsToExceptions="false"
         bootstrap="lib/Test/bootstrap.php"
>
    <testsuites>
        <testsuite name="default">
            <directory>lib/Test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>lib/</directory>
            <exclude>
                <directory>lib/Test</directory>
                <file>lib/Cli/FixtureCommand.php</file>
                <file>wp-cli.php</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Pretzlaw\PHPUnit\DocGen\TestCaseListener">
            <arguments>
                <string>var/documentation.md</string>
            </arguments>
        </listener>
        <listener class="Pretzlaw\PHPUnit\DocGen\TestCaseListener">
            <arguments>
                <string>var/documentation.html</string>
                <string>rmp-up/wp-fixtures - Expressive fixtures persistence in WordPress (and some plugins)</string>
                <string>etc/documentation.css</string>
            </arguments>
        </listener>
    </listeners>

    <logging>
        <log type="coverage-html" target="var/phpunit" lowUpperBound="50" highLowerBound="80"/>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
    </logging>
</phpunit>
