<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertNoticesToExceptions="false"
         convertDeprecationsToExceptions="false"
         bootstrap="opt/doc/bootstrap.php"
>
    <testsuites>
        <testsuite name="default">
            <directory>opt/doc</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="REQUEST_URI" value="127.0.0.1" />
        <ini name="xdebug.mode" value="coverage" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>lib/</directory>
            <exclude>
                <directory>lib/Test</directory>
                <file>lib/Cli/FixtureCommand.php</file>
                <file>lib/compat.php</file>
                <file>lib/wp-cli.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="var/phpunit" lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>
